# Imports and File Loads

In [1]:
import pandas as pd

In [9]:
#data from:
# https://data.cityofchicago.org/Transportation/Traffic-Crashes-Crashes/85ca-t3if
# https://data.cityofchicago.org/Transportation/Traffic-Crashes-People/u6pd-qa9d
# https://data.cityofchicago.org/Transportation/Traffic-Crashes-Vehicles/68nd-jvt3

df1 = pd.read_csv("data/Traffic_Crashes_People.csv")
df2 = pd.read_csv("data/Traffic_Crashes_Crashes.csv")
df3 = pd.read_csv("data/Traffic_Crashes_Vehicles.csv")

/Users/jamiecarnevale/miniconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (19,21,40,41,42,44,48,49,50,53,55,58,59,61,71) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

# Exploring Datasets, looking for common columns

In [11]:
print(df1.columns)
print(df2.columns)
print(df3.columns)

Index(['PERSON_ID', 'PERSON_TYPE', 'CRASH_RECORD_ID', 'RD_NO', 'VEHICLE_ID',
       'CRASH_DATE', 'SEAT_NO', 'CITY', 'STATE', 'ZIPCODE', 'SEX', 'AGE',
       'DRIVERS_LICENSE_STATE', 'DRIVERS_LICENSE_CLASS', 'SAFETY_EQUIPMENT',
       'AIRBAG_DEPLOYED', 'EJECTION', 'INJURY_CLASSIFICATION', 'HOSPITAL',
       'EMS_AGENCY', 'EMS_RUN_NO', 'DRIVER_ACTION', 'DRIVER_VISION',
       'PHYSICAL_CONDITION', 'PEDPEDAL_ACTION', 'PEDPEDAL_VISIBILITY',
       'PEDPEDAL_LOCATION', 'BAC_RESULT', 'BAC_RESULT VALUE',
       'CELL_PHONE_USE'],
      dtype='object')
Index(['CRASH_RECORD_ID', 'RD_NO', 'CRASH_DATE_EST_I', 'CRASH_DATE',
       'POSTED_SPEED_LIMIT', 'TRAFFIC_CONTROL_DEVICE', 'DEVICE_CONDITION',
       'WEATHER_CONDITION', 'LIGHTING_CONDITION', 'FIRST_CRASH_TYPE',
       'TRAFFICWAY_TYPE', 'LANE_CNT', 'ALIGNMENT', 'ROADWAY_SURFACE_COND',
       'ROAD_DEFECT', 'REPORT_TYPE', 'CRASH_TYPE', 'INTERSECTION_RELATED_I',
       'NOT_RIGHT_OF_WAY_I', 'HIT_AND_RUN_I', 'DAMAGE', 'DATE_POLICE_NOTIFIED',
       'PRIM_CONTRIBUTORY_CAUSE', 'SEC_CONTRIBUTORY_CAUSE', 'STREET_NO',
       'STREET_DIRECTION', 'STREET_NAME', 'BEAT_OF_OCCURRENCE',
       'PHOTOS_TAKEN_I', 'STATEMENTS_TAKEN_I', 'DOORING_I', 'WORK_ZONE_I',
       'WORK_ZONE_TYPE', 'WORKERS_PRESENT_I', 'NUM_UNITS',
       'MOST_SEVERE_INJURY', 'INJURIES_TOTAL', 'INJURIES_FATAL',
       'INJURIES_INCAPACITATING', 'INJURIES_NON_INCAPACITATING',
       'INJURIES_REPORTED_NOT_EVIDENT', 'INJURIES_NO_INDICATION',
       'INJURIES_UNKNOWN', 'CRASH_HOUR', 'CRASH_DAY_OF_WEEK', 'CRASH_MONTH',
       'LATITUDE', 'LONGITUDE', 'LOCATION'],
      dtype='object')
Index(['CRASH_UNIT_ID', 'CRASH_RECORD_ID', 'RD_NO', 'CRASH_DATE', 'UNIT_NO',
       'UNIT_TYPE', 'NUM_PASSENGERS', 'VEHICLE_ID', 'CMRC_VEH_I', 'MAKE',
       'MODEL', 'LIC_PLATE_STATE', 'VEHICLE_YEAR', 'VEHICLE_DEFECT',
       'VEHICLE_TYPE', 'VEHICLE_USE', 'TRAVEL_DIRECTION', 'MANEUVER',
       'TOWED_I', 'FIRE_I', 'OCCUPANT_CNT', 'EXCEED_SPEED_LIMIT_I', 'TOWED_BY',
       'TOWED_TO', 'AREA_00_I', 'AREA_01_I', 'AREA_02_I', 'AREA_03_I',
       'AREA_04_I', 'AREA_05_I', 'AREA_06_I', 'AREA_07_I', 'AREA_08_I',
       'AREA_09_I', 'AREA_10_I', 'AREA_11_I', 'AREA_12_I', 'AREA_99_I',
       'FIRST_CONTACT_POINT', 'CMV_ID', 'USDOT_NO', 'CCMC_NO', 'ILCC_NO',
       'COMMERCIAL_SRC', 'GVWR', 'CARRIER_NAME', 'CARRIER_STATE',
       'CARRIER_CITY', 'HAZMAT_PLACARDS_I', 'HAZMAT_NAME', 'UN_NO',
       'HAZMAT_PRESENT_I', 'HAZMAT_REPORT_I', 'HAZMAT_REPORT_NO',
       'MCS_REPORT_I', 'MCS_REPORT_NO', 'HAZMAT_VIO_CAUSE_CRASH_I',
       'MCS_VIO_CAUSE_CRASH_I', 'IDOT_PERMIT_NO', 'WIDE_LOAD_I',
       'TRAILER1_WIDTH', 'TRAILER2_WIDTH', 'TRAILER1_LENGTH',
       'TRAILER2_LENGTH', 'TOTAL_VEHICLE_LENGTH', 'AXLE_CNT', 'VEHICLE_CONFIG',
       'CARGO_BODY_TYPE', 'LOAD_TYPE', 'HAZMAT_OUT_OF_SERVICE_I',
       'MCS_OUT_OF_SERVICE_I', 'HAZMAT_CLASS'],
      dtype='object')

In [13]:
df1.sort_values(by="CRASH_RECORD_ID").head()

,PERSON_ID,PERSON_TYPE,CRASH_RECORD_ID,RD_NO,VEHICLE_ID,CRASH_DATE,SEAT_NO,CITY,STATE,ZIPCODE,...,EMS_RUN_NO,DRIVER_ACTION,DRIVER_VISION,PHYSICAL_CONDITION,PEDPEDAL_ACTION,PEDPEDAL_VISIBILITY,PEDPEDAL_LOCATION,BAC_RESULT,BAC_RESULT VALUE,CELL_PHONE_USE
147375,O995163,DRIVER,000013b0123279411e0ec856dae95ab9f0851764350b7f...,JD433095,943049.0,11/16/2020 01:50:00 PM,NaN,CHICAGO,IL,60642,...,NaN,IMPROPER PARKING,UNKNOWN,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
12731,O40893,DRIVER,00002c0771fb6f2c70ba775b7f6b501608cadea85c1dd1...,HZ228060,39524.0,04/16/2016 05:49:00 AM,NaN,NaN,NaN,NaN,...,NaN,IMPROPER LANE CHANGE,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
801492,O40894,DRIVER,00002c0771fb6f2c70ba775b7f6b501608cadea85c1dd1...,HZ228060,39526.0,04/16/2016 05:49:00 AM,NaN,CHICAGO,IL,60639,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
1152007,O807770,DRIVER,000043c6564ec4d54bc4efd957d97ca97f38a965dd64b4...,JC556033,767006.0,12/22/2019 02:11:00 AM,NaN,NaN,NaN,NaN,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
1184026,O89591,DRIVER,000070ed7a6357c3298f5edc6fb7d5ce925a10f46660f3...,HZ486518,86588.0,10/24/2016 02:42:00 AM,NaN,OAK PARK,IL,60302,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN

In [14]:
df2.sort_values(by="CRASH_RECORD_ID").head()

,CRASH_RECORD_ID,RD_NO,CRASH_DATE_EST_I,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
82277,000013b0123279411e0ec856dae95ab9f0851764350b7f...,JD433095,NaN,11/16/2020 01:50:00 PM,35,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,PARKED MOTOR VEHICLE,...,0.0,0.0,1.0,0.0,13,2,11,41.844584,-87.695360,POINT (-87.695359843215 41.844584300311)
84063,00002c0771fb6f2c70ba775b7f6b501608cadea85c1dd1...,HZ228060,NaN,04/16/2016 05:49:00 AM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAWN,SIDESWIPE SAME DIRECTION,...,0.0,0.0,2.0,0.0,5,7,4,41.844734,-87.695363,POINT (-87.695363066709 41.844733938666)
85814,000043c6564ec4d54bc4efd957d97ca97f38a965dd64b4...,JC556033,Y,12/22/2019 02:11:00 AM,30,NO CONTROLS,NO CONTROLS,CLEAR,"DARKNESS, LIGHTED ROAD",FIXED OBJECT,...,0.0,0.0,1.0,0.0,2,1,12,41.691319,-87.540255,POINT (-87.540255297708 41.691318518437)
87500,000070ed7a6357c3298f5edc6fb7d5ce925a10f46660f3...,HZ486518,NaN,10/24/2016 02:42:00 AM,35,NO CONTROLS,NO CONTROLS,CLEAR,"DARKNESS, LIGHTED ROAD",SIDESWIPE SAME DIRECTION,...,0.0,0.0,2.0,0.0,2,2,10,41.873272,-87.695937,POINT (-87.69593723519 41.873272095065)
89686,0000b70a00c8809f76b5234f81753264d9160c314cc5e6...,JE170601,NaN,03/01/2021 02:30:00 PM,20,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,PARKED MOTOR VEHICLE,...,0.0,0.0,1.0,0.0,14,2,3,41.725237,-87.654113,POINT (-87.654112989721 41.725236954675)

In [15]:
df3.sort_values(by="CRASH_RECORD_ID").head()

,CRASH_UNIT_ID,CRASH_RECORD_ID,RD_NO,CRASH_DATE,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,MAKE,...,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
1490998,995164,000013b0123279411e0ec856dae95ab9f0851764350b7f...,JD433095,11/16/2020 01:50:00 PM,2,PARKED,NaN,943051.0,NaN,CHEVROLET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1490997,995163,000013b0123279411e0ec856dae95ab9f0851764350b7f...,JD433095,11/16/2020 01:50:00 PM,1,DRIVER,NaN,943049.0,NaN,HYUNDAI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
455763,40893,00002c0771fb6f2c70ba775b7f6b501608cadea85c1dd1...,HZ228060,04/16/2016 05:49:00 AM,1,DRIVER,NaN,39524.0,NaN,LINCOLN-CONTINENTAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
455774,40894,00002c0771fb6f2c70ba775b7f6b501608cadea85c1dd1...,HZ228060,04/16/2016 05:49:00 AM,2,DRIVER,NaN,39526.0,NaN,HYUNDAI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
856142,807770,000043c6564ec4d54bc4efd957d97ca97f38a965dd64b4...,JC556033,12/22/2019 02:11:00 AM,1,DRIVER,NaN,767006.0,NaN,LINCOLN-CONTINENTAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1608727 entries, 0 to 1608726
Data columns (total 30 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   PERSON_ID              1608727 non-null  object
 1   PERSON_TYPE            1608727 non-null  object
 2   CRASH_RECORD_ID        1608727 non-null  object
 3   RD_NO                  1598751 non-null  object
 4   VEHICLE_ID             1577183 non-null  float64
 5   CRASH_DATE             1608727 non-null  object
 6   SEAT_NO                325621 non-null   float64
 7   CITY                   1173437 non-null  object
 8   STATE                  1189731 non-null  object
 9   ZIPCODE                1073912 non-null  object
 10  SEX                    1583065 non-null  object
 11  AGE                    1139947 non-null  float64
 12  DRIVERS_LICENSE_STATE  944833 non-null   object
 13  DRIVERS_LICENSE_CLASS  796193 non-null   object
 14  SAFETY_EQUIPMENT       1604214 non-null  object
 15  AIRBAG_DEPLOYED        1578392 non-null  object
 16  EJECTION               1589082 non-null  object
 17  INJURY_CLASSIFICATION  1608039 non-null  object
 18  HOSPITAL               273860 non-null   object
 19  EMS_AGENCY             169879 non-null   object
 20  EMS_RUN_NO             28031 non-null    object
 21  DRIVER_ACTION          1280217 non-null  object
 22  DRIVER_VISION          1279755 non-null  object
 23  PHYSICAL_CONDITION     1281101 non-null  object
 24  PEDPEDAL_ACTION        29935 non-null    object
 25  PEDPEDAL_VISIBILITY    29876 non-null    object
 26  PEDPEDAL_LOCATION      29933 non-null    object
 27  BAC_RESULT             1281226 non-null  object
 28  BAC_RESULT VALUE       1879 non-null     float64
 29  CELL_PHONE_USE         1158 non-null     object
dtypes: float64(4), object(26)
memory usage: 368.2+ MB

In [42]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 732009 entries, 0 to 1608637
Data columns (total 30 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   PERSON_ID              732009 non-null  object
 1   PERSON_TYPE            732009 non-null  object
 2   CRASH_RECORD_ID        732009 non-null  object
 3   RD_NO                  727572 non-null  object
 4   VEHICLE_ID             725252 non-null  float64
 5   CRASH_DATE             732009 non-null  object
 6   SEAT_NO                60155 non-null   float64
 7   CITY                   460803 non-null  object
 8   STATE                  459130 non-null  object
 9   ZIPCODE                422845 non-null  object
 10  SEX                    727760 non-null  object
 11  AGE                    434126 non-null  float64
 12  DRIVERS_LICENSE_STATE  410353 non-null  object
 13  DRIVERS_LICENSE_CLASS  336029 non-null  object
 14  SAFETY_EQUIPMENT       731241 non-null  object
 15  AIRBAG_DEPLOYED        725828 non-null  object
 16  EJECTION               729273 non-null  object
 17  INJURY_CLASSIFICATION  731825 non-null  object
 18  HOSPITAL               100189 non-null  object
 19  EMS_AGENCY             60509 non-null   object
 20  EMS_RUN_NO             5178 non-null    object
 21  DRIVER_ACTION          671277 non-null  object
 22  DRIVER_VISION          671183 non-null  object
 23  PHYSICAL_CONDITION     671392 non-null  object
 24  PEDPEDAL_ACTION        6104 non-null    object
 25  PEDPEDAL_VISIBILITY    6080 non-null    object
 26  PEDPEDAL_LOCATION      6106 non-null    object
 27  BAC_RESULT             671446 non-null  object
 28  BAC_RESULT VALUE       1563 non-null    float64
 29  CELL_PHONE_USE         776 non-null     object
dtypes: float64(4), object(26)
memory usage: 173.1+ MB

# Merge by Crash Record ID

In [41]:
df1 = df1.drop_duplicates(subset = 'CRASH_RECORD_ID')
df2 = df2.drop_duplicates(subset = 'CRASH_RECORD_ID')
df3 = df3.drop_duplicates(subset = 'CRASH_RECORD_ID')

In [43]:
df_merged = df1.merge(df2, how = 'inner',
                     on = 'CRASH_RECORD_ID').merge(df3, how = 'inner',
                                                  on = 'CRASH_RECORD_ID')

In [48]:
df_merged.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 731907 entries, 0 to 731906
Data columns (total 149 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   PERSON_ID                      731907 non-null  object
 1   PERSON_TYPE                    731907 non-null  object
 2   CRASH_RECORD_ID                731907 non-null  object
 3   RD_NO_x                        727570 non-null  object
 4   VEHICLE_ID_x                   725151 non-null  float64
 5   CRASH_DATE_x                   731907 non-null  object
 6   SEAT_NO                        60155 non-null   float64
 7   CITY                           460748 non-null  object
 8   STATE                          459075 non-null  object
 9   ZIPCODE                        422795 non-null  object
 10  SEX                            727658 non-null  object
 11  AGE                            434077 non-null  float64
 12  DRIVERS_LICENSE_STATE          410300 non-null  object
 13  DRIVERS_LICENSE_CLASS          335987 non-null  object
 14  SAFETY_EQUIPMENT               731140 non-null  object
 15  AIRBAG_DEPLOYED                725727 non-null  object
 16  EJECTION                       729172 non-null  object
 17  INJURY_CLASSIFICATION          731723 non-null  object
 18  HOSPITAL                       100176 non-null  object
 19  EMS_AGENCY                     60499 non-null   object
 20  EMS_RUN_NO                     5178 non-null    object
 21  DRIVER_ACTION                  671175 non-null  object
 22  DRIVER_VISION                  671082 non-null  object
 23  PHYSICAL_CONDITION             671290 non-null  object
 24  PEDPEDAL_ACTION                6103 non-null    object
 25  PEDPEDAL_VISIBILITY            6079 non-null    object
 26  PEDPEDAL_LOCATION              6105 non-null    object
 27  BAC_RESULT                     671344 non-null  object
 28  BAC_RESULT VALUE               1563 non-null    float64
 29  CELL_PHONE_USE                 776 non-null     object
 30  RD_NO_y                        727570 non-null  object
 31  CRASH_DATE_EST_I               55078 non-null   object
 32  CRASH_DATE_y                   731907 non-null  object
 33  POSTED_SPEED_LIMIT             731907 non-null  int64
 34  TRAFFIC_CONTROL_DEVICE         731907 non-null  object
 35  DEVICE_CONDITION               731907 non-null  object
 36  WEATHER_CONDITION              731907 non-null  object
 37  LIGHTING_CONDITION             731907 non-null  object
 38  FIRST_CRASH_TYPE               731907 non-null  object
 39  TRAFFICWAY_TYPE                731907 non-null  object
 40  LANE_CNT                       198650 non-null  float64
 41  ALIGNMENT                      731907 non-null  object
 42  ROADWAY_SURFACE_COND           731907 non-null  object
 43  ROAD_DEFECT                    731907 non-null  object
 44  REPORT_TYPE                    711232 non-null  object
 45  CRASH_TYPE                     731907 non-null  object
 46  INTERSECTION_RELATED_I         168185 non-null  object
 47  NOT_RIGHT_OF_WAY_I             33949 non-null   object
 48  HIT_AND_RUN_I                  227851 non-null  object
 49  DAMAGE                         731907 non-null  object
 50  DATE_POLICE_NOTIFIED           731907 non-null  object
 51  PRIM_CONTRIBUTORY_CAUSE        731907 non-null  object
 52  SEC_CONTRIBUTORY_CAUSE         731907 non-null  object
 53  STREET_NO                      731907 non-null  int64
 54  STREET_DIRECTION               731903 non-null  object
 55  STREET_NAME                    731906 non-null  object
 56  BEAT_OF_OCCURRENCE             731902 non-null  float64
 57  PHOTOS_TAKEN_I                 9219 non-null    object
 58  STATEMENTS_TAKEN_I             15686 non-null   object
 59  DOORING_I                      2223 non-null    object
 60  WORK_ZONE_I                    4259 non-null    object
 61  WORK_ZONE_TYPE                 3327 non-null    object
 62  WORKERS_PRESENT_I              1098 non-null    object
 63  NUM_UNITS                      731907 non-null  int64
 64  MOST_SEVERE_INJURY             731896 non-null  object
 65  INJURIES_TOTAL                 731907 non-null  float64
 66  INJURIES_FATAL                 731907 non-null  float64
 67  INJURIES_INCAPACITATING        731907 non-null  float64
 68  INJURIES_NON_INCAPACITATING    731907 non-null  float64
 69  INJURIES_REPORTED_NOT_EVIDENT  731907 non-null  float64
 70  INJURIES_NO_INDICATION         731907 non-null  float64
 71  INJURIES_UNKNOWN               731907 non-null  float64
 72  CRASH_HOUR                     731907 non-null  int64
 73  CRASH_DAY_OF_WEEK              731907 non-null  int64
 74  CRASH_MONTH                    731907 non-null  int64
 75  LATITUDE                       727125 non-null  float64
 76  LONGITUDE                      727125 non-null  float64
 77  LOCATION                       727125 non-null  object
 78  CRASH_UNIT_ID                  731907 non-null  int64
 79  RD_NO                          727570 non-null  object
 80  CRASH_DATE                     731907 non-null  object
 81  UNIT_NO                        731907 non-null  int64
 82  UNIT_TYPE                      730231 non-null  object
 83  NUM_PASSENGERS                 93889 non-null   float64
 84  VEHICLE_ID_y                   714716 non-null  float64
 85  CMRC_VEH_I                     16077 non-null   object
 86  MAKE                           714714 non-null  object
 87  MODEL                          714646 non-null  object
 88  LIC_PLATE_STATE                618201 non-null  object
 89  VEHICLE_YEAR                   532162 non-null  float64
 90  VEHICLE_DEFECT                 714716 non-null  object
 91  VEHICLE_TYPE                   714716 non-null  object
 92  VEHICLE_USE                    714716 non-null  object
 93  TRAVEL_DIRECTION               714716 non-null  object
 94  MANEUVER                       714716 non-null  object
 95  TOWED_I                        100150 non-null  object
 96  FIRE_I                         806 non-null     object
 97  OCCUPANT_CNT                   714716 non-null  float64
 98  EXCEED_SPEED_LIMIT_I           2089 non-null    object
 99  TOWED_BY                       75530 non-null   object
 100 TOWED_TO                       48400 non-null   object
 101 AREA_00_I                      33363 non-null   object
 102 AREA_01_I                      235449 non-null  object
 103 AREA_02_I                      135997 non-null  object
 104 AREA_03_I                      75152 non-null   object
 105 AREA_04_I                      59876 non-null   object
 106 AREA_05_I                      55344 non-null   object
 107 AREA_06_I                      44828 non-null   object
 108 AREA_07_I                      47583 non-null   object
 109 AREA_08_I                      81744 non-null   object
 110 AREA_09_I                      25654 non-null   object
 111 AREA_10_I                      45871 non-null   object
 112 AREA_11_I                      120705 non-null  object
 113 AREA_12_I                      148910 non-null  object
 114 AREA_99_I                      142583 non-null  object
 115 FIRST_CONTACT_POINT            712954 non-null  object
 116 CMV_ID                         9243 non-null    float64
 117 USDOT_NO                       5493 non-null    object
 118 CCMC_NO                        1200 non-null    object
 119 ILCC_NO                        815 non-null     object
 120 COMMERCIAL_SRC                 6248 non-null    object
 121 GVWR                           5183 non-null    object
 122 CARRIER_NAME                   8824 non-null    object
 123 CARRIER_STATE                  8214 non-null    object
 124 CARRIER_CITY                   8066 non-null    object
 125 HAZMAT_PLACARDS_I              165 non-null     object
 126 HAZMAT_NAME                    28 non-null      object
 127 UN_NO                          306 non-null     object
 128 HAZMAT_PRESENT_I               6812 non-null    object
 129 HAZMAT_REPORT_I                6602 non-null    object
 130 HAZMAT_REPORT_NO               1 non-null       object
 131 MCS_REPORT_I                   6617 non-null    object
 132 MCS_REPORT_NO                  4 non-null       object
 133 HAZMAT_VIO_CAUSE_CRASH_I       6706 non-null    object
 134 MCS_VIO_CAUSE_CRASH_I          6564 non-null    object
 135 IDOT_PERMIT_NO                 583 non-null     object
 136 WIDE_LOAD_I                    87 non-null      object
 137 TRAILER1_WIDTH                 1810 non-null    object
 138 TRAILER2_WIDTH                 214 non-null     object
 139 TRAILER1_LENGTH                1481 non-null    float64
 140 TRAILER2_LENGTH                39 non-null      float64
 141 TOTAL_VEHICLE_LENGTH           1683 non-null    float64
 142 AXLE_CNT                       2496 non-null    float64
 143 VEHICLE_CONFIG                 7724 non-null    object
 144 CARGO_BODY_TYPE                7388 non-null    object
 145 LOAD_TYPE                      7160 non-null    object
 146 HAZMAT_OUT_OF_SERVICE_I        6369 non-null    object
 147 MCS_OUT_OF_SERVICE_I           6515 non-null    object
 148 HAZMAT_CLASS                   630 non-null     object
dtypes: float64(24), int64(8), object(117)
memory usage: 837.6+ MB

# Exploring and Exporting Merged Dataset

In [53]:
df_merged.sample(5)

,PERSON_ID,PERSON_TYPE,CRASH_RECORD_ID,RD_NO_x,VEHICLE_ID_x,CRASH_DATE_x,SEAT_NO,CITY,STATE,ZIPCODE,...,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
167581,O1105153,DRIVER,a18bd1f27fda91492f8cbb41c17d2dfa33c36404ce5494...,JE245924,1048337.0,05/28/2021 03:00:00 PM,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
708910,O1506454,DRIVER,2317d561247c5377dd044af261a25a25f0bcb829293626...,JG131635,1432218.0,01/27/2023 02:39:00 PM,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34243,P107954,PASSENGER,f960d87c4f83b709cd52fa7e5b4a27e57eadb9dfd1f7da...,JB375206,460087.0,08/01/2018 03:00:00 PM,4.0,NaN,IL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
277255,O1277521,DRIVER,afbb73d7aaf2f492dfb574bf385bdc38b96af570a5423c...,JF136958,1212899.0,02/05/2022 03:22:00 AM,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92179,O964339,DRIVER,247a38b4e6329e138a224880ea7baabb12d5b1264b95bf...,JD378141,913932.0,09/24/2020 06:54:00 PM,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
df_merged.to_csv('data/merged_data.csv')

In [ ]:
#fin